@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cantarell&family=Josefin+Sans&family=Josefin+Slab&family=Montserrat&family=Sacramento&family=Sarabun:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cantarell&family=Josefin+Sans&family=Josefin+Slab&family=Montserrat&family=Radio+Canada&family=Sacramento&family=Sarabun:wght@200&display=swap');


//Display
@mixin flex-row{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin flex-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

//Fonts
@mixin main-font{
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    font-weight: 400;
}

@mixin secondary-font{
    font-family:'Radio Canada', sans-serif;
    font-weight: 400;
}

@mixin subtitle{
    font-family: $basic-font;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 1rem 0 1rem 3vw;
    width: calc(100vw - 3vw);
}

@mixin sub-subtitle{
    font-family: $basic-font;
    font-size: 1rem;
    font-weight: 900;
    margin: 1rem 0 1rem 3vw;
    opacity: 60%;
    width: calc(100vw - 3vw);
}
