//Display
@mixin flex-row{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

//Fonts
@mixin main-font{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    font-weight: 400;
}