@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cantarell&family=Josefin+Sans&family=Josefin+Slab&family=Montserrat&family=Sacramento&family=Sarabun:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cantarell&family=Josefin+Sans&family=Josefin+Slab&family=Montserrat&family=Radio+Canada&family=Sacramento&family=Sarabun:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cantarell&family=Josefin+Sans&family=Josefin+Slab&family=Montserrat&family=Open+Sans:wght@300&family=Radio+Canada&family=Sacramento&family=Sarabun:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cantarell&family=Josefin+Sans&family=Josefin+Slab&family=Montserrat&family=Open+Sans:wght@300&family=Radio+Canada&family=Roboto&family=Sacramento&family=Sarabun:wght@200&display=swap');
//Colors

$itau-color: #f47404;
$grey-background-color: #f5f5f5;

//Fonts
$small-font: 'Open Sans', sans-serif;
$basic-font: 'Roboto', sans-serif;